<tf-card>
	<tf-card-title>Tables</tf-card-title>
	<tf-table>
	 <tf-table-head slot="table-head">
			<tf-table-head-cell>Name</tf-table-head-cell>
			<tf-table-head-cell>Title</tf-table-head-cell>
			<tf-table-head-cell>Status</tf-table-head-cell>
			<tf-table-head-cell>Role</tf-table-head-cell>
			<tf-table-head-cell></tf-table-head-cell>	
		</tf-table-head>

		<tf-table-row>
			<tf-table-cell>
				<tf-user></tf-user>
			</tf-table-cell>
			<tf-table-cell>
				<tf-value-pair>
					<span slot="dark">Director</span>
					<span slot="light">Human Resources</span>
				</tf-value-pair>
			</tf-table-cell>
			<tf-table-cell>
				<tf-status traffic-light-colour="red">Inactive</tf-status>
			</tf-table-cell>
			<tf-table-cell>
				Owner
			</tf-table-cell>
			<tf-table-cell text-align="right">
				<a href="#" >Edit</a>
			</tf-table-cell>
		</tf-table-row>
			
		<tf-table-row>
			<tf-table-cell>
				<tf-user></tf-user>
			</tf-table-cell>
			<tf-table-cell>
				<tf-value-pair>
					<span slot="dark">Welder</span>
					<span slot="light">Offshore Rig</span>
				</tf-value-pair>
			</tf-table-cell>
			<tf-table-cell>
				<tf-status traffic-light-colour="green">Active</tf-status>
			</tf-table-cell>
			<tf-table-cell>
				Worker
			</tf-table-cell>
			<tf-table-cell text-align="right">
				<a href="#" >Edit</a>
			</tf-table-cell>
		</tf-table-row>

	</tf-table>
	
</tf-card>