<tf-card>

	<tf-node>
		<tf-node-fxl-flex-fxr class="tf-ie-slot-fx-fix">

			<div slot="fxl" style="padding: 10px; background-color: aquamarine;">
				<tf-p-tag >Left 'fxl' slot</tf-p-tag>
			</div>
			<div slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area - tag 'tf-node-fxl-flex-fxr'</tf-p-tag>
			</div>
			<div slot="fxr" style="padding: 10px; background-color: pink">
				<tf-p-tag>Right 'fxr' slot</tf-p-tag>
			</div>
			
		</tf-node-fxl-flex-fxr>
	</tf-node>

	<tf-node>
		<tf-node-flex class="tf-ie-slot-fx-fix">

			<div slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area  - tag 'tf-node-flex'</tf-p-tag>
			</div>

		</tf-node-flex>
	</tf-node>
	
	<tf-node>
		<tf-node-fxl-flex class="tf-ie-slot-fx-fix">

			<div slot="fxl" style="padding: 10px; background-color: aquamarine;">
				<tf-p-tag >Left 'fxl' slot</tf-p-tag>
			</div>
			<div slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area - tag 'tf-node-fxl-flex'</tf-p-tag>
			</div>

		</tf-node-fxl-flex>
	</tf-node>

	

	<tf-node>
		<tf-node-flex-fxr class="tf-ie-slot-fx-fix">

			<div slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area - tag 'tf-node-flex-fxr'</tf-p-tag>
			</div>
			<div slot="fxr" style="padding: 10px; background-color: pink">
				<tf-p-tag>Right 'fxr' slot</tf-p-tag>
			</div>

		</tf-node-flex-fxr>
	</tf-node>
</tf-card>