
<tf-card>
	<tf-card-title>Standard Card</tf-card-title>
	<div style="display: block; height: 80px;"></div>
</tf-card>

<tf-card-container>

	<tf-contained-card slot="slot1">

		<tf-card-title>2 Card Row - Card 1</tf-card-title>
			<!-- 
			Add a tampory div to force height to one card, 
			the other card's in the container will follow when 
			the flow is a row ( screen greater than mobile )
		-->
		<div style="display: block; height: 200px;"></div>
	</tf-contained-card>

	<tf-contained-card slot="slot2">
		<tf-card-title>2 Card Row - Card 2</tf-card-title>
	</tf-contained-card>

</tf-card-container>


<tf-card-container>
	<tf-contained-card slot="slot1">

		<tf-card-title>3 Card Row - Card 1</tf-card-title>
		<!-- 
			Add a tampory div to force height to one card, 
			the other card's in the container will follow when 
			the flow is a row ( screen greater than mobile )
		-->
		<div style="display: block; height: 200px;"></div>
	</tf-contained-card>

	<tf-contained-card slot="slot2">
		<tf-card-title>3 Card Row - Card 2</tf-card-title>
	</tf-contained-card>

	<tf-contained-card slot="slot3">
		<tf-card-title>3 Card Row - Card 3</tf-card-title>
	</tf-contained-card>

</tf-card-container>

<tf-card colour="navy">
	<tf-card-title colour="white">Standard Dark Card</tf-card-title>
	<div style="display: block; height: 80px;"></div>
</tf-card>


<tf-card-container>

	<tf-contained-card slot="slot1" colour="navy">
		<tf-card-title colour="white">2 Dark Card Row - Card 1</tf-card-title>
		<div style="display: block; height: 80px;"></div>
	</tf-contained-card>

	<tf-contained-card slot="slot2" colour="navy">
		<tf-card-title colour="white">2 Dark Card Row - Card 2</tf-card-title>
	</tf-contained-card>

</tf-card-container>
