

<tf-card>
	<tf-card-title>Standard Buttons</tf-card-title>
	<tf-node>

		<div class="button-container">

			<tf-button 
				colour="default" 
				size="xs" 
				(click)="onButtonClicked($event)"
				button-id="group-1-button-1"
			>
				Extra Small Button
			</tf-button>

			<tf-button 
				size="s" 
				colour="aqua"
				(click)="onButtonClicked($event)"
				button-id="group-1-button-2"
			>
				My Small Button
			</tf-button>

			<tf-button 
				(click)="onButtonClicked($event)"
				button-id="group-1-button-3"
			>
				Standard
			</tf-button>

			<tf-button 
				size="large" 
				colour="grey"
				(click)="onButtonClicked($event)"
				button-id="group-1-button-4"
			>
				Tailwind Button
			</tf-button>

			<tf-button 
				size="xl" 
				colour="navy"
				(click)="onButtonClicked($event)"
				button-id="group-1-button-5"
			>
				XL Tailwind Button
			</tf-button>
			
		</div>
		

	</tf-node>
</tf-card> 

<tf-card>
	<tf-card-title>Buttons with Leading Icons</tf-card-title>
	<tf-node>
		
		<div class="button-container">
			
			<tf-button size="xs" icon="chevron-left" icon-position="left">
				tiny
			</tf-button>

			<tf-button size="s" colour="navy" icon="chevron-down" icon-position="left">
				small
			</tf-button>

			<tf-button size="m" icon="chevron-left" colour="grey" icon-position="left">
				medium
			</tf-button>

			<tf-button colour="aqua" size="l" icon="envelope" icon-position="left">
				large
			</tf-button>

			<tf-button size="xl" icon="chevron-up" icon-position="left">
				extra large
			</tf-button>

		</div>

	</tf-node>
</tf-card> 


<tf-card>
	<tf-card-title>Buttons with Trailing Icons</tf-card-title>
	<tf-node>
		
		<div class="button-container">
			
			<tf-button size="xs" colour="navy" icon="chevron-right" icon-position="right">
				tiny
			</tf-button>

			<tf-button size="s" colour="aqua" icon="chevron-down" icon-position="right">
				small
			</tf-button>

			<tf-button size="m" icon="chevron-right" icon-position="right">
				medium
			</tf-button>

			<tf-button size="l" icon="search" icon-position="right">
				Search
			</tf-button>

			<tf-button size="xl" colour="grey" icon="exclamation" icon-position="right">
				extra large
			</tf-button>

		</div>

	</tf-node>
</tf-card> 




<tf-card>
	<tf-card-title>Icon Buttons</tf-card-title>
	<tf-node>
		<div class="button-container">
			<tf-icon-button
				size="xs"
				icon="close"
				colour="grey"
				slot="fxr"
			></tf-icon-button>

			<tf-icon-button
				size="s"
				icon="chevron-left"
				colour="white"
				outline-colour="navy"
				slot="fxr"
			></tf-icon-button>

			<tf-icon-button
				size="m"
				icon="close"
				colour="navy"
				slot="fxr"
			></tf-icon-button>

			<tf-icon-button
				size="l"
				icon="notification"
				colour="blue"
				slot="fxr"
			></tf-icon-button>

			<tf-icon-button
				size="xl"
				icon="add"
				colour="aqua"
				slot="fxr"
			></tf-icon-button>
		</div>
	</tf-node>
</tf-card>