
<tf-card>
	<tf-card-title>Node-Flex Layout</tf-card-title>
	<tf-node>
		<tf-node-fxl-flex-fxr>

			<tf-node-slot-wrapper slot="fxl" style="padding: 10px; background-color: aquamarine;">
				<tf-p-tag >Content in the Left 'fxl' slot. fxl = FIXED LEFT</tf-p-tag>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Content in the Flex 'flex' slot - main area - tag 'tf-node-fxl-flex-fxr'. flex = GROW</tf-p-tag>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="fxr" style="padding: 10px; background-color: pink">
				<tf-p-tag>Content in the Right 'fxr' slot. fxr = FIXED RIGHT</tf-p-tag>
			</tf-node-slot-wrapper>
			
		</tf-node-fxl-flex-fxr>
	</tf-node>

	<tf-node>
		<tf-node-flex>

			<tf-node-slot-wrapper slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Content in the Flex 'flex' slot - main area  - tag 'tf-node-flex'. Node-flex tags naturally allow the content to flow</tf-p-tag>
			</tf-node-slot-wrapper>

		</tf-node-flex>
	</tf-node>
	
	<tf-node>
		<tf-node-fxl-flex>

			<tf-node-slot-wrapper slot="fxl" style="padding: 10px; background-color: aquamarine;">
				<tf-p-tag >Left 'fxl' slot</tf-p-tag>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="flex" class="" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area - tag 'tf-node-fxl-flex'</tf-p-tag>
			</tf-node-slot-wrapper>

		</tf-node-fxl-flex>
	</tf-node>

	

	<tf-node>
		<tf-node-flex-fxr>

			<tf-node-slot-wrapper slot="flex" style="padding: 10px; background-color: rgb(219, 241, 156);">
				<tf-p-tag>Flex 'flex' slot - main area - tag 'tf-node-flex-fxr'</tf-p-tag>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="fxr" style="padding: 10px; background-color: pink">
				<tf-p-tag>Right 'fxr' slot</tf-p-tag>
			</tf-node-slot-wrapper>

		</tf-node-flex-fxr>
	</tf-node>
</tf-card>


<tf-card>
	<tf-card-title>Node-Flex Layout with Forced Widths</tf-card-title>

	<tf-node>
		<tf-node-fxl-flex-fxr>
			<p slot="fxl">LEFT</p>
			<p slot="flex">FLEX: This is a tf-node-fxl-flex-fxr tag without any forced widths</p>
			<p slot="fxr">RIGHT</p>
		</tf-node-fxl-flex-fxr>
	</tf-node>


	<tf-node>
		<tf-node-fxl-flex-fxr l-width="54px" r-width="50%">
			
			<div slot="fxl" style="border:solid 1px rebeccapurple">
				<p>Left = 54px</p>
			</div>
			<p slot="flex">fxl-flex-fxr Description about a slot</p>
			
			<div slot="fxr" style="border:solid 1px rebeccapurple">
				<p>Right = 50%</p>
			</div>
		</tf-node-fxl-flex-fxr>
	</tf-node>
	<tf-node>
		<tf-node-fxl-flex l-width="20%">
			<div slot="fxl" style="border:solid 1px rebeccapurple">
				<p>Left = 20% </p>
			</div>
			<p slot="flex">FXL FLEX Description about a slot</p>
		</tf-node-fxl-flex>
	</tf-node>
	<tf-node>
		<tf-node-flex-fxr r-width="6rem">
			<p slot="flex">flex-fxr Description about a slot</p>
			<div slot="fxr" style="border:solid 1px rebeccapurple">
				<p>Right = 6rem</p>
			</div>
		</tf-node-flex-fxr>
	</tf-node>



</tf-card>