

<tf-form-card>
	
	<tf-form-title>
		<tf-h2>
			Welcome to Transform, <tf-span-normal>please&nbsp;sign&nbsp;in&nbsp;below.</tf-span-normal>
		</tf-h2>
	</tf-form-title>

	<tf-form-wrapper>
		<form
			#f="ngForm" 
			(ngSubmit)="formSubmit(f)"
			(onsubmit)="onSubmit()"
			(tfOnInput)="tfOnInputHandler($event)"
		>

			<tf-input 
				name="email" 
				input-type="email" 
				input-required 
				label="Email Address" 
			></tf-input>

			<tf-input 
				name="password" 
				input-type="password" 
				input-required 
				label="Password" 
			></tf-input>


			<tf-node-flex-fxr>

				<tf-a slot="flex" url="https://www.neutron.net/forgotten" target="_blank" colour="blue" title="Forgot your password?">
					Forgot your password?
				</tf-a>

				<tf-button-light-dom 
					slot="fxr"
					colour="aqua" 
					button-type="submit"
					(click)="onSubmit()"
				>
					{{ loading ? 'Loading...' : 'Login'}}
				</tf-button-light-dom>
				
			</tf-node-flex-fxr> 

		</form>
	</tf-form-wrapper>
</tf-form-card>


<!--
<tf-flex fill-height layout-align="center center">


	<div class="bg-white w-3/5 rounded-lg flex flex-col justify-center py-12 px-5">

		<div class="login-header sm:mx-auto sm:w-full sm:max-w-md">
			<h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
				Login
			</h2>
		</div>

		<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">

			<div class="bg-white pb-8 sm:rounded-lg">

				<form 
					#f="ngForm" (ngSubmit)="formSubmit(f)"
					(onsubmit)="onSubmit()"
					(tfOnInput)="tfOnInputHandler($event)"
				>

					<tf-input 
						name="email" 
						input-type="email" 
						input-required 
						label="Email Address" 
					></tf-input>

					<tf-input 
						name="password" 
						input-type="password" 
						input-required 
						label="Password" 
					></tf-input>

					<div class="mt-6 flex items-center justify-between">

						<div class="text-sm leading-5">
							<tf-a-tag url="#" title="Forgot your password?">
								Forgot your password?
							</tf-a-tag>
						</div>

						<tf-button 
							colour="aqua" 
							button-type="submit"
							[disabled]="!formValid || loading"
							(click)="onSubmit()"
						>
							{{ loading ? 'Loading...' : 'Login'}}
						</tf-button>

					</div>
				</form>

			</div>
		</div>
	</div>

</tf-flex>
-->