

<tf-card>
	<tf-card-title>Icons</tf-card-title>
	<tf-node>
		<div class="icon-container">
			
			<tf-leading-icon-label>
				<tf-icon-check slot="icon"></tf-icon-check>
				Check (tf-icon-check)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-down slot="icon"></tf-icon-chevron-down>
				Chevron Down (tf-icon-chevron-down)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-left slot="icon"></tf-icon-chevron-left>
				Chevron Left (tf-icon-chevron-left)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-right slot="icon"></tf-icon-chevron-right>
				Chevron Right (tf-icon-chevron-right)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-up slot="icon"></tf-icon-chevron-up>
				Chevron Up (tf-icon-chevron-up)
			</tf-leading-icon-label>
			
			<tf-leading-icon-label>
				<tf-icon-close slot="icon"></tf-icon-close>
				Close (tf-icon-close)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-envelope slot="icon"></tf-icon-envelope>
				Envelope (tf-icon-envelope)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-exclamation slot="icon"></tf-icon-exclamation>
				Exclamation (tf-icon-exclamation)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-notification slot="icon"></tf-icon-notification>
				Notification (tf-icon-notification)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-search slot="icon"></tf-icon-search>
				Search (tf-icon-search)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-user slot="icon"></tf-icon-user>
				User (tf-icon-user)
			</tf-leading-icon-label>


			<tf-leading-icon-label>
				<tf-icon-add slot="icon"></tf-icon-add>
				Add (tf-icon-add)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-minus slot="icon"></tf-icon-minus>
				Minus (tf-icon-minus)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-arrow-down slot="icon"></tf-icon-arrow-down>
				Arrow Down (tf-icon-down)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-arrow-left slot="icon"></tf-icon-arrow-left>
				Arrow Left (tf-icon-left)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-arrow-right slot="icon"></tf-icon-arrow-right>
				Arrow Right (tf-icon-arrow-right)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-arrow-up slot="icon"></tf-icon-arrow-up>
				Arrow Up (tf-icon-arrow-up)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-calendar slot="icon"></tf-icon-calendar>
				Calendar (tf-icon-calendar)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-folder slot="icon"></tf-icon-folder>
				Folder (tf-icon-folder)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-locked slot="icon"></tf-icon-locked>
				Locked (tf-icon-locked)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-unlocked slot="icon"></tf-icon-unlocked>
				Unlocked (tf-icon-unlocked)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-settings slot="icon"></tf-icon-settings>
				Settings (tf-icon-settings)
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-tag slot="icon"></tf-icon-tag>
				Tag (tf-icon-tag)
			</tf-leading-icon-label>
			
		</div>
	</tf-node>
</tf-card>