<h1 class="font-body text-lg mb-4 text-white">Guide for naming of products and browser icons</h1>

<tf-card>
	<tf-card-title>Browser Icons</tf-card-title>

	<tf-node>
		<div class="block">
			<p class=" text-base mb-4">The (favicon) icon that appear in the browser tab</p>
			<div class="flex items-center mb-4">
				<img class="mx-4" src="assets/favicon-32x32.png">
				<p class="text-base">Please use the Transform mark logo</p>
			</div>
			<p class="text-base mb-4">There is a selection of favicon sizes available which you can <a class="text-base text-blue-500 underline" href="assets/favicon.zip">download.</a></p>

			<div>
				<p class="text-sm mb-2">For the main favicon itself, it's best for cross-browser compatibility not to use any HTML. Just name the file favicon.ico (included in the zip file) and place it in the root of your domain.</p>
				<p class="text-sm mb-2">There are further options which might need to be implemented depending on the application. See this useful <a class="text-sm text-blue-500 underline" href="https://github.com/audreyr/favicon-cheat-sheet">favicon cheat sheet</a></p>
			</div>
			
			
		</div>
		
	</tf-node>
</tf-card>

<tf-card>
	<tf-card-title>Page Titles</tf-card-title>
	<tf-node>
		<div class="block">
			<p class=" text-base mb-4">Page name that shows in the browser tab</p>
			<div class="flex items-center mb-4">
				<p class="text-lg mr-4">Product abbreviation</p>
				<p class="text-lg">A Transform product.</p>
			</div>
			<h4 class="text-lg mb-2">Example:</h4>
			<p class="text-base mb-4">R3. A Transform Product</p>

			<h4 class="text-lg mb-2">Product abbreviations</h4>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">R3</p>
				<p class="text-lg">R3</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">VR</p>
				<p class="text-lg">VR-Learn</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">VL+</p>
				<p class="text-lg">Video-Learn</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">EL</p>
				<p class="text-lg">E-Learn</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">RP</p>
				<p class="text-lg">Risk Profiler</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">Bi</p>
				<p class="text-lg">Business intelligence - reporting tools</p>
			</div>
			<div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">Si</p>
				<p class="text-lg">Simulators</p>
			</div><div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">CM</p>
				<p class="text-lg">Competence Management</p>
			</div><div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">TM</p>
				<p class="text-lg">Training Management</p>
			</div><div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">LM</p>
				<p class="text-lg">Learning Management (standalone and basic version)</p>
			</div><div class="flex items-center mt-2 container">
				<p class="text-lg mr-4">SM</p>
				<p class="text-lg">Safety Management</p>
			</div><div class="flex items-center mt-2 mb-4 container">
				<p class="text-lg mr-4">MP</p>
				<p class="text-lg">Global Training Marketplace</p>
			</div>

			<p class="text-lg mb-2">For anything else, just use:</p>
			<div class="flex items-center mt-2 mb-4 container">
				<p class="text-lg mr-4">Transform</p>
			</div>



			<div>
				<p class="text-base mb-2">Any questions please ask <a class="text-base text-blue-500 underline" href="mailto:dave.oliver@3tenergygroup.com">dave.oliver@3tenergygroup.com</a></p>
			</div>
		</div>
	</tf-node>
</tf-card>