.node-column{
	/* display: flex;
	flex-direction: column; */
	width: 100%;
}
.container{
	display:flex;
	widows: 100%;
	padding:4px 8px;
	/* border-bottom: solid 1px red; */
	background-color: #F3F5F9;
}
/* .container:nth-child(odd){
	background-color: antiquewhite;
} */