


<tf-card-panel>

	<tf-info-card 
		tab-colour="aqua" 
		colour="white"
		show-footer
		footer-border="blue"
	>
		<span slot="tab-title">Software Module</span>
		<tf-flex 
			slot="data"
			layout="column"
			layout-align="flex-start center"
			style="width:80%"
		>
			<tf-icon-product-outline 
				colour="blue" 
				initials="TF">
			</tf-icon-product-outline>
			<tf-span-title 
				text-align="center" 
				colour="blue">
				Transform Application
			</tf-span-title>
		</tf-flex>
		<tf-flex 
			slot="footer" 
			layout-align="center center"
		>
			<tf-status-beacon></tf-status-beacon>
			<tf-span-description colour="blue">INACTIVE</tf-span-description>
		</tf-flex>
	</tf-info-card>


	<tf-info-card tab-colour="aqua" colour="navy">
		<span slot="tab-title">Software Module</span>

		<tf-flex 
			slot="data"
			layout="column"
			layout-align="between center"
			fill-height
			style="width:80%; height:100%"
		>
			<tf-span-description 
				colour="white"
				text-align="center"
			>
				Lorum ipsum solar dolar jhs description of product bla vle jsi dhdjhdlh management system ipsumly fapher epsom doups.
			</tf-span-description>
			<tf-span-description 
				colour="aqua"
				text-align="center"
			>
				Find out more ask your Account Manager
			</tf-span-description>
		</tf-flex>

	</tf-info-card>

	<tf-info-card 
		tab-colour="grey" 
		colour="white" 
		show-footer
		footer-border="blue"
	>
		<span slot="tab-title">Software Module</span>
		<tf-flex 
			slot="data"
			layout="column"
			layout-align="flex-start center"
			style="width:80%"
		>
			<tf-icon-product-outline 
				colour="blue" 
				initials="CB">
			</tf-icon-product-outline>
			<tf-span-title 
				text-align="center" 
				colour="blue">
				Learning Management
			</tf-span-title>
		</tf-flex>
		<tf-flex 
			slot="footer" 
			layout-align="center center"
		>
			<tf-status-beacon traffic-light-colour="green"></tf-status-beacon>
			<tf-span-description colour="blue">ACTIVE</tf-span-description>
		</tf-flex>

	</tf-info-card>
	<tf-info-card tab-colour="grey" colour="navy">
		<span slot="tab-title">Software Module</span>
		<tf-flex 
			slot="data"
			layout="column"
			layout-align="between center"
			fill-height
			style="width:80%; height:100%"
		>
			<tf-icon-product-outline initials="gb" size="xl"></tf-icon-product-outline>
			<tf-button colour="aqua">Open</tf-button>
		</tf-flex>

	</tf-info-card>
</tf-card-panel>






<tf-stats-panel>
	<tf-stat-data-card colour="blue">
		<div slot="title">Data Title</div>
		<div slot="data">75,562</div>
	</tf-stat-data-card>

	<tf-stat-data-card colour="green">
		<div slot="title">Avg. Open Rate</div>
		<div slot="data">58.16%</div>
	</tf-stat-data-card>

	<tf-stat-data-card colour="amber">
		<div slot="title">Avg. Click Rate</div>
		<div slot="data">54.57%</div>
	</tf-stat-data-card>

	<tf-stat-data-card colour="red">
		<div slot="title">Todays sales</div>
		<div slot="data">£1.20</div>
	</tf-stat-data-card>

</tf-stats-panel>



<tf-card-container>

	<tf-contained-card>

		<tf-card-title>Most Popular Courses</tf-card-title>
		<tf-node-header>
			<tf-node-flex-fxr r-width="30%">
				<tf-node-header-title slot="flex">
					Course
				</tf-node-header-title>
				<tf-node-header-title justify="center" slot="fxr">
					Registrations
				</tf-node-header-title>
			</tf-node-flex-fxr>
		</tf-node-header>

		<tf-node>
			<tf-node-flex-fxr r-width="30%">
				<tf-p-tag slot="flex">Course title example 1</tf-p-tag>
				<tf-node-text justify="center" slot="fxr">1008</tf-node-text>
			</tf-node-flex-fxr>
		</tf-node>

		<tf-node>
			<tf-node-flex-fxr r-width="30%">
				<tf-p-tag slot="flex">Course title example</tf-p-tag>
				<tf-node-text justify="center" slot="fxr">869</tf-node-text>
			</tf-node-flex-fxr>
		</tf-node>

		<tf-node>
			<tf-node-flex-fxr r-width="30%">
				<tf-p-tag slot="flex">Course title example</tf-p-tag>
				<tf-node-text justify="center" slot="fxr">512</tf-node-text>
			</tf-node-flex-fxr>
		</tf-node>

		<tf-node>
			<tf-node-flex-fxr r-width="30%">
				<p slot="flex">Course title example</p>
				<tf-node-text justify="center" slot="fxr">381</tf-node-text>
			</tf-node-flex-fxr>
		</tf-node>

		<tf-node>
			<tf-node-flex-fxr r-width="30%">
				<p slot="flex">Course title example</p>
				<tf-node-text justify="center" slot="fxr">375</tf-node-text>
			</tf-node-flex-fxr>
		</tf-node>

		<tf-node-flex-fxr>
			<div slot="flex">&nbsp;</div>
			<div slot="fxr">
				<tf-button>View All</tf-button>
			</div>
		</tf-node-flex-fxr>
		
	</tf-contained-card>

	<tf-contained-card>
			
		<tf-card-title>Least Popular Courses</tf-card-title>
			<tf-node-header>
				<tf-node-flex-fxr r-width="30%">
					<tf-node-header-title slot="flex">
						Course
					</tf-node-header-title>
					<tf-node-header-title justify="center" slot="fxr">
						Registrations
					</tf-node-header-title>
				</tf-node-flex-fxr>
			</tf-node-header>

			<tf-node>
				<tf-node-flex-fxr r-width="30%">
					<p slot="flex">Course title example 1</p>
					<tf-node-text justify="center" slot="fxr">45</tf-node-text>
				</tf-node-flex-fxr>
			</tf-node>

			<tf-node>
				<tf-node-flex-fxr r-width="30%">
					<p slot="flex">Course title example</p>
					<tf-node-text justify="center" slot="fxr">38</tf-node-text>
				</tf-node-flex-fxr>
			</tf-node>

			<tf-node>
				<tf-node-flex-fxr r-width="30%">
					<p slot="flex">Course title example</p>
					<tf-node-text justify="center" slot="fxr">22</tf-node-text>
				</tf-node-flex-fxr>
			</tf-node>

			<tf-node>
				<tf-node-flex-fxr r-width="30%">
					<p slot="flex">Course title example</p>
					<tf-node-text justify="center" slot="fxr">19</tf-node-text>
				</tf-node-flex-fxr>
			</tf-node>

			<tf-node>
				<tf-node-flex-fxr r-width="30%">
					<p slot="flex">Course title example</p>
					<tf-node-text justify="center" slot="fxr">12</tf-node-text>
				</tf-node-flex-fxr>
			</tf-node>

			<tf-node-flex-fxr>
				<div slot="flex">&nbsp;</div>
				<div slot="fxr">
					<tf-button>View All</tf-button>
				</div>
			</tf-node-flex-fxr>

	</tf-contained-card>

</tf-card-container>

<tf-card>

	<tf-list>

		<tf-list-wrapping-item>

			<tf-list-wrapping-cell>
				<tf-user></tf-user>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell content-align="center" >
				<tf-status traffic-light-colour="red">Inactive</tf-status>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell>
				<tf-value-pair>
					<span slot="dark">Cold Water Survival</span>
					<span slot="light">CA321</span>
				</tf-value-pair>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell>
				<tf-value-pair>
					<span slot="dark">42</span>
					<span slot="light">Courses</span>
				</tf-value-pair>
			</tf-list-wrapping-cell>

		</tf-list-wrapping-item>

		<tf-list-wrapping-item>

			<tf-list-wrapping-cell>
				<tf-user></tf-user>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell content-align="center" >
				<tf-status traffic-light-colour="green">Active</tf-status>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell>
				<tf-value-pair>
					<span slot="dark">Optito Bosiet with CA-EBS</span>
					<span slot="light">CA321</span>
				</tf-value-pair>
			</tf-list-wrapping-cell>

			<tf-list-wrapping-cell>
				<tf-value-pair>
					<span slot="dark">16</span>
					<span slot="light">Courses</span>
				</tf-value-pair>
			</tf-list-wrapping-cell>

		</tf-list-wrapping-item>

	</tf-list>

</tf-card>






<tf-card>
	<tf-node>
	<div style="padding:20px 0; margin:0 auto; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(4, 1fr); grid-column-gap: 50px; grid-row-gap: 50px;">

			<tf-leading-icon-label>
				<tf-icon-check slot="icon"></tf-icon-check>
				Check
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-down slot="icon"></tf-icon-chevron-down>
				Chevron Down
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-left slot="icon"></tf-icon-chevron-left>
				Chevron Left
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-right slot="icon"></tf-icon-chevron-right>
				Chevron Right
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-chevron-up slot="icon"></tf-icon-chevron-up>
				Chevron Up
			</tf-leading-icon-label>
			
			<tf-leading-icon-label>
				<tf-icon-close slot="icon"></tf-icon-close>
				Close
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-envelope slot="icon"></tf-icon-envelope>
				Envelope
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-exclamation slot="icon"></tf-icon-exclamation>
				Exclamation
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-notification slot="icon"></tf-icon-notification>
				Notification
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-search slot="icon"></tf-icon-search>
				Search
			</tf-leading-icon-label>

			<tf-leading-icon-label>
				<tf-icon-user slot="icon"></tf-icon-user>
				User
			</tf-leading-icon-label>


		</div>
	</tf-node>
</tf-card>
