
<tf-card>
	<tf-card-title>Status Pills</tf-card-title>


	<tf-node-list>
		<tf-node>
			<tf-node-text>Green</tf-node-text>
			
			<tf-node-text>
				<tf-status traffic-light-colour="green">Passed</tf-status>
			</tf-node-text>

			<tf-node-text>
				<tf-status traffic-light-colour="green">Green</tf-status>
			</tf-node-text>
		</tf-node>

		<tf-node>
			<tf-node-text >Red</tf-node-text>

			<tf-node-text>
				<tf-status traffic-light-colour="red">Awaiting Registration</tf-status>
			</tf-node-text>

			<tf-node-text>
				<tf-status traffic-light-colour="red">Red</tf-status>
			</tf-node-text>

		</tf-node>
		<tf-node>
			<tf-node-text>Amber</tf-node-text>

			<tf-node-text>
				<tf-status traffic-light-colour="amber">Under Review</tf-status>
			</tf-node-text>

			<tf-node-text>
				<tf-status traffic-light-colour="amber">Amber</tf-status>
			</tf-node-text>

		</tf-node>

		<tf-node>
			<tf-node-text>None/Grey</tf-node-text>

			<tf-node-text>
				<tf-status>Not Started</tf-status>
			</tf-node-text>

			<tf-node-text>
				<tf-status>None</tf-status>
			</tf-node-text>


		</tf-node>
	
	</tf-node-list>

</tf-card>