<form #f="ngForm" (ngSubmit)="submit(f)">
	<div 
		ngModelGroup="contact"
		#contact="ngModelGroup"
	>

		<div class="form-group">
				<label for="firstName">First Name</label>
				<input 
					ngModel 	
					name="firstName" 
					#firstName="ngModel"
					(change)="log(firstName)"
					required
					minlength="3"
					maxlength="10"
					pattern="banana"
					id="firstName" 
					type="text" 
					class="form-control"
				>
				<div 
					class="alert alert-danger"
					*ngIf="firstName.touched && !firstName.valid"
				>
					<div *ngIf="firstName.errors.required">
						First Name is required
					</div>
					<div *ngIf="firstName.errors.minlength">
						First Name should be min {{ firstName.errors.minlength.requiredLength }} chars
					</div>
					<div *ngIf="firstName.errors.pattern">
						First Name doesn't match pattern '{{ firstName.errors.pattern.requiredPattern }}'
					</div>
				</div>
		</div>

	</div>
	
	<div class="form-group">
		<label for="comment">Comment</label>
		<textarea 
			ngModel 
			name="comment" 
			id="comment" 
			cols="30" 
			rows="10" 
			class="form-control">
		</textarea>
	</div>

	<div class="checkbox">
		<label>
			<input 
				type="checkbox"
				ngModel
				name="isSubscribed"
			>
			Subscribe to mailing list
		</label>
	</div>
	<div class="form-group">
		<label for="contactMethod">Contact Method</label>
		<select 
			ngModel 
			name="contactMethod" 
			id="contactMethod" 
			class="form-control"
		>
			<option></option>
			<option 
				*ngFor="let method of contactMethods" 
				[ngValue]="method"
			>
				{{ method.name }}
			</option>
		</select>
	</div>

	<div 
		*ngFor="let method of contactMethods" 
		class="radio"
	>
		
		<label for="">
			<input ngModel type="radio" name="contactMethod" [value]="method.id">
			{{ method.name }}
		</label>

	</div>

	<p>
		{{ f.value | json }}
	</p>

	<button 
		class="btn btn-primary"
		[disabled]="!f.valid"
	>
		Submit
	</button>
</form>


<tf-flex fill-height layout-align="center center">


		<div class="bg-white w-3/5 rounded-lg flex flex-col justify-center py-12 px-5">

			<div class="login-header sm:mx-auto sm:w-full sm:max-w-md">
				<h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
					Login
				</h2>
			</div>

			<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">

				<div class="bg-white pb-8 sm:rounded-lg">

					<form 
						#form="ngForm" 
						(ngSubmit)="onNgSubmit(form)"
					>

						<tf-input 
							name="name" 
							label="Name" 
							placeholder="Your Name" 
							ngDefaultControl
							[(ngModel)]="values.name"
							#name="ngModel"
							(change)="log(name)"
							minlength="3"
							maxlength="50"
							pattern="^((?!billy).)*$"
							required
							[error]="name.dirty && !name.valid"
							attr.input-error="{{
								name.errors && name.errors.required 
									? 'Please enter your name' 
									: name.errors && name.errors.minlength
										? 'You need at least 3 characters in your name'
										: name.errors && name.errors.pattern 
											? 'You can not be called billy' 
											: ''
							}}"
						></tf-input>

						<tf-input 
							name="nickname" 
							label="Nickname" 
							placeholder="Your Nickname" 
							ngDefaultControl
							[(ngModel)]="values.nickname"
							#nickname="ngModel"
							(change)="log(nickname)"
						></tf-input>

						<!-- <tf-input 
							name="email" 
							input-type="email" 
							input-required 
							label="Email Address"
							ngDefaultControl
							[(ngModel)]="email"
						></tf-input> -->

						<!-- <tf-input 
							name="password" 
							input-type="password" 
							input-required 
							label="Password" 
							ngDefaultControl
							[(ngModel)]="password"
							
						></tf-input> -->

						<div class="mt-6 flex items-center justify-between">

							<div class="text-sm leading-5">
								<tf-a-tag url="#" title="Forgot your password?">
									Forgot your password?
								</tf-a-tag>
							</div>

							<tf-button-light-dom 
								colour="aqua" 
								button-type="submit"
								[disabled]="!form.form.valid"
							>
								{{ loading ? 'Loading...' : 'Login'}}
							</tf-button-light-dom>


						</div>

						<p>
							{{ form.value | json }}
						</p>
						<!-- <p>
							{{ form.form | json }}
						</p> -->
						<!-- <p>
							{{ name.touched}}
						</p>
						<p>
							{{ name.isValid}}
						</p> -->
					</form>

				</div>
			</div>
		</div>

</tf-flex>
