
<tf-form-card>

			<tf-form-title>
				<tf-h2>
					ngForm: <tf-span-normal>Template&nbsp;Form&nbsp;Example</tf-span-normal>
				</tf-h2>
			</tf-form-title>

				<tf-form-wrapper>
					<form 
						#form="ngForm" 
						(ngSubmit)="onNgSubmit(form)"
						disabled
					>

						<!-- enforce ngDefaultControl onto tf-input components to bridge the communication from angular to the component. Also need to manually set touched and untouched properties (for now) with (change)="name.control.markAsTouched()" -->
						<tf-input 
							name="name" 
							label="Name" 
							placeholder="Your Name" 
							ngDefaultControl
							[(ngModel)]="values.name"
							#name="ngModel"
							(change)="name.control.markAsTouched()"
							minlength="3"
							maxlength="50"
							pattern="^((?!billy).)*$"
							required
							[error]="name.touched && !name.valid"
							attr.input-error="{{
								name.errors && name.errors.required 
									? 'Please enter your name' 
									: name.errors && name.errors.minlength
										? 'You need at least 3 characters in your name'
										: name.errors && name.errors.pattern 
											? 'You can not be called billy' 
											: ''
							}}"
						></tf-input>

						<!-- Can use tf-ng-input to bridge NgForm API to tf-input components -->
						<tf-ng-input 
							[label]="'Nickname'" 
							[name]="'nickname'"
							[placeholder]="'Your Nickname'"
							[(ngModel)]="values.nickname"
							#nickname="ngModel"
							required
							[error]="nickname.touched && nickname.invalid"
							[inputError]="
								nickname.errors && nickname.errors.required 
									? 'Please enter your nickname' 
									: ''
							"
						></tf-ng-input> 
						
						<tf-node-flex-fxr>

							<tf-button-light-dom 
								slot="fxr"
								colour="aqua" 
								button-type="submit"
								[disabled]="!form.form.valid"
							>
								Submit
							</tf-button-light-dom>

						</tf-node-flex-fxr>


						<p>
							{{ form.value | json }}
						</p>
						<p>
							Form submitted: {{ form.submitted }}
						</p>
					</form>
				</tf-form-wrapper>

</tf-form-card>