<tf-card>
	<tf-card-title>Product Logos</tf-card-title>
	<tf-node>
		<p>Product Logos details coming soon ...</p>
	</tf-node>
</tf-card>


<tf-card>
	<tf-card-content>
		<div style="padding:20px 0; margin:0 auto; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(5, 1fr); grid-column-gap: 50px; grid-row-gap: 50px;">
			<tf-product-logo code="Bi" colour="navy" size="xs" ></tf-product-logo>
			<tf-product-logo code="cm" colour="navy" size="s" ></tf-product-logo>
			<tf-product-logo code="lm" colour="navy" size="m" ></tf-product-logo>
			<tf-product-logo code="r3" colour="navy" size="l" ></tf-product-logo>
			<tf-product-logo code="rp" colour="blue" size="xl" ></tf-product-logo>
			<tf-product-logo code="GB" colour="navy" size="xs" ></tf-product-logo>
			<tf-product-logo initials="GB" colour="navy" size="s" ></tf-product-logo>
			<tf-product-logo initials="GB" colour="navy" size="m" ></tf-product-logo>
			<tf-product-logo initials="GB" colour="navy" size="l" ></tf-product-logo>
			<tf-product-logo initials="GB" colour="navy" size="xl" ></tf-product-logo>
			<tf-product-logo code="si" colour="grey" size="xl" ></tf-product-logo>

			

			<div style="background-color: #224595; padding: 15px;">
				<tf-product-logo code="tm" colour="white" size="s" ></tf-product-logo>
			</div>
			<tf-product-logo code="vl" colour="aqua" size="m" ></tf-product-logo>
			<tf-product-logo code="vr" colour="navy" size="l" ></tf-product-logo>
			<tf-product-logo code="el" colour="navy" size="xl" ></tf-product-logo>
			<tf-product-logo code="sm" colour="navy" size="xl" ></tf-product-logo>
			<tf-product-logo code="mp" colour="navy" size="xl" ></tf-product-logo>

			<!-- <tf-product-logo code="Bi" colour="navy" size="xs" as-outline="false"></tf-product-logo>
			<tf-product-logo code="cm" colour="navy" size="s" as-outline="false"></tf-product-logo>
			<tf-product-logo code="lm" colour="navy" size="m" as-outline="false"></tf-product-logo>
			<div style="background-color: #224595; padding: 15px;">
				<tf-product-logo code="tm" colour="white" size="s" as-outline="false" ></tf-product-logo>
			</div>
			<tf-product-logo code="rp" colour="blue" size="xl" as-outline="false"></tf-product-logo>
			<tf-product-logo code="GB" colour="navy" size="xs" as-outline="false"></tf-product-logo> -->

		</div>
	</tf-card-content>
</tf-card>