<tf-card>
	<tf-card-title>Primary Product Logos</tf-card-title>
	<tf-card-content>
		<div class="logo-container">

			<div class="logo-name-code">
				<tf-product-logo code="bi" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Business intelligence - reporting tools
				</div>
				<div class="code">
					Product Code: <span>bi</span>
				</div>
			</div>
			
			<div class="logo-name-code">
				<tf-product-logo code="cm" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Competence Management
				</div>
				<div class="code">
					Product Code: <span>cm</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="lm" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Learning Management
				</div>
				<div class="code">
					Product Code: <span>lm</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="r3" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					R3
				</div>
				<div class="code">
					Product Code: <span>r3</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="rp" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Risk Profiler
				</div>
				<div class="code">
					Product Code: <span>rp</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="si" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Simulators
				</div>
				<div class="code">
					Product Code: <span>si</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="tm" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Training Management
				</div>
				<div class="code">
					Product Code: <span>tm</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="vl" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					Video-Learn
				</div>
				<div class="code">
					Product Code: <span>vl</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="vr" colour="gradient" size="xl" as-outline="false"></tf-product-logo>
				<div class="name">
					VR-Learn
				</div>
				<div class="code">
					Product Code: <span>vr</span>
				</div>
			</div>

		</div>
		
	</tf-card-content>
</tf-card>


<tf-card>
	<tf-card-title>Outlined Product Logos</tf-card-title>
	<tf-card-content>
		<div class="logo-container">

			<div class="logo-name-code">
				<tf-product-logo code="bi" colour="navy" size="xl"></tf-product-logo>
			</div>
			
			<div class="logo-name-code">
				<tf-product-logo code="cm" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="lm" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="r3" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="rp" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="si" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="tm" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="vl" colour="navy" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="vr" colour="navy" size="xl" ></tf-product-logo>
			</div>

		</div>
		
	</tf-card-content>
</tf-card>

<tf-card>
	<tf-card-title>Solid Colour Variations</tf-card-title>
	<tf-card-content>
		<div class="logo-container">

			<div class="logo-name-code">
				<tf-product-logo code="bi" colour="navy" size="xl" as-outline="false"></tf-product-logo>
			</div>
			
			<div class="logo-name-code">
				<tf-product-logo code="cm" colour="blue" size="xl" as-outline="false"></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="lm" colour="grey" size="xl" as-outline="false"></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="r3" colour="aqua" size="xl" as-outline="false"></tf-product-logo>
			</div>

			<div class="logo-name-code blue">
				<tf-product-logo code="rp" colour="white" size="xl" as-outline="false"></tf-product-logo>
			</div>

		</div>
		
	</tf-card-content>
</tf-card>

<tf-card>
	<tf-card-title>Outline Colour Variations</tf-card-title>
	<tf-card-content>
		<div class="logo-container">
			
			<div class="logo-name-code">
				<tf-product-logo code="si" colour="blue" size="xl"></tf-product-logo>
			</div>

			<div class="logo-name-code blue">
				<tf-product-logo code="tm" colour="white" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code navy">
				<tf-product-logo code="vl" colour="grey" size="xl" ></tf-product-logo>
			</div>

			<div class="logo-name-code navy">
				<tf-product-logo code="vr" colour="aqua" size="xl" ></tf-product-logo>
			</div>

		</div>
		
	</tf-card-content>
</tf-card>

<tf-card>
	<tf-card-title>Size Variations</tf-card-title>
	<tf-card-content>
		<div class="logo-container">

			<div class="logo-name-code">
				<tf-product-logo code="bi" colour="navy" size="xs" as-outline="false"></tf-product-logo>
				<div class="code">
					<span>'extra-small' or 'xs'</span>
				</div>
			</div>
			
			<div class="logo-name-code">
				<tf-product-logo code="cm" colour="blue" size="s" as-outline="false"></tf-product-logo>
				<div class="code">
					<span>'small' or 's'</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="lm" colour="gradient" size="m" as-outline="false"></tf-product-logo>
				<div class="code">
					<span>'medium' or 'm'</span>
				</div>
			</div>

			<div class="logo-name-code blue">
				<tf-product-logo code="r3" colour="gradient" size="l" as-outline="false"></tf-product-logo>
				<div class="code">
					<span>'large' or 'l'</span>
				</div>
			</div>

			<div class="logo-name-code blue">
				<tf-product-logo code="rp" colour="white" size="xl" as-outline="false"></tf-product-logo>
				<div class="code">
					<span>'extra-large' or 'xl'</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="si" colour="blue" size="extra-large"></tf-product-logo>
				<div class="code">
					<span>'extra-large' or 'xl'</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="tm" colour="navy" size="l" ></tf-product-logo>
				<div class="code">
					<span>'large' or 'l'</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="vl" colour="navy" size="m" ></tf-product-logo>
				<div class="code">
					<span>'medium' or 'm'</span>
				</div>
			</div>

			<div class="logo-name-code blue">
				<tf-product-logo code="vr" colour="white" size="s" ></tf-product-logo>
				<div class="code">
					<span>'small' or 's'</span>
				</div>
			</div>

			<div class="logo-name-code">
				<tf-product-logo code="lm" colour="blue" size="extra-small" ></tf-product-logo>
				<div class="code">
					<span>'extra-small' or 'xs'</span>
				</div>
			</div>

		</div>
		
	</tf-card-content>
</tf-card>

<tf-card>
	<tf-card-title>Product Code/Initials Fallback</tf-card-title>

	<tf-card-content>
		<div class="flex flex-col">

		<tf-p>If the product code that is passed in to the component is not recognised, the component will render the code/initials as ordinary text. If no product code, then no initials will be rendered.</tf-p>

		<div class="logo-container">
			
			<div class="logo-name-code">
				<tf-product-logo colour="navy" code="GB"></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo colour="gradient" as-outline="false" code="BG"></tf-product-logo>
			</div>

			<div class="logo-name-code">
				<tf-product-logo colour="navy"></tf-product-logo>
			</div>

		</div>
		
		<div>
			<p class="text-base mb-2">This is a tempory option. If the product initials are not rendered properly then please inform <a class="text-base text-blue-500 underline" href="mailto:dave.oliver@3tenergygroup.com">dave.oliver@3tenergygroup.com</a></p>
		</div>

		</div>
	</tf-card-content>

	
