


<tf-form-page-card colour="grey">
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Example of a minimal Transform Component Form
		</tf-h3>
	</tf-form-title>

	<form [formGroup]="locationForm" (ngSubmit)="onLocationFormSubmit()" novalidate>
		<tf-ng-input label="Location Name" formControlName="name">
		</tf-ng-input>
		<tf-ng-input label="Address Line 1" formControlName="addressLine1">
		</tf-ng-input>
		<tf-ng-input label="Address Line 2" formControlName="addressLine2">
		</tf-ng-input>
		<tf-ng-input label="City/Town" formControlName="city">
		</tf-ng-input>
		<tf-ng-input label="Region" formControlName="region">
		</tf-ng-input>
		<tf-ng-input label="Country" formControlName="country">
		</tf-ng-input>
		<tf-ng-input label="Post/Zip code" formControlName="postcode">
		</tf-ng-input>
		<tf-node-flex-fxr>
			<tf-button-light-dom slot="fxr" colour="aqua" button-type="submit" [disabled]="!locationForm.valid">
				Submit
			</tf-button-light-dom>
		</tf-node-flex-fxr> 
	</form>

</tf-form-page-card>

	
<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Example of a minimal Transform Form Page Component
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<tf-p>
		<tf-span-italic colour="grey">Form goes here...</tf-span-italic>
	</tf-p>

</tf-form-page-card>