<tf-side-drawer display-title="Main Menu">
	<tf-side-drawer-nav
		(tfRouterLinkClicked)="onRouterNavClicked($event)"
	>

		<tf-side-drawer-nav-link 
			icon="chevron-down" 
			href-title="Example"
			router-link="/"
		>
			Example
		</tf-side-drawer-nav-link>

		<tf-side-drawer-nav-link 
			icon="chevron-down" 
			href-title="Example"
			router-link="/"
			(tfRouterLinkClicked)="onRouterNavLinkedClicked($event)"
		>
			Example Route Link Capture
		</tf-side-drawer-nav-link>

		
		<tf-side-drawer-nav-link 
			icon="chevron-down" 
		>
			Forms
			<tf-side-drawer-sub-nav slot="sub">

				<tf-side-drawer-sub-nav-link
					router-link="/inputs"
					href-title="Simple input components"
				>
					Inputs
				</tf-side-drawer-sub-nav-link>

				<tf-side-drawer-sub-nav-link
					router-link="/login"
					href-title="Opinionated login form"
				>
					Login form
				</tf-side-drawer-sub-nav-link>

				<tf-side-drawer-sub-nav-link
					router-link="/decoupled-login"
					href-title="Decoupled Login form eaxample"
				>
					Decoupled login form
				</tf-side-drawer-sub-nav-link>

			</tf-side-drawer-sub-nav>

		</tf-side-drawer-nav-link>

		<tf-side-drawer-nav-link 
			href-title="Visit NeutronVR's website"
			href-link="https:www.neutronvr.com"
		>
			External HREF link
		</tf-side-drawer-nav-link>
	</tf-side-drawer-nav>
	
</tf-side-drawer>
