<tf-card>
	
	<tf-node>
		<tf-dropdown 
			position="left" 
			display-title="Left Aligned"
			(tfDropdownLinkClicked)="onLeftDropdownClicked($event)"
		>
			<tf-dropdown-link router-link="#">Account Settings</tf-dropdown-link>
			<tf-dropdown-link router-link="#">Support</tf-dropdown-link>
			<tf-dropdown-link router-link="#">License</tf-dropdown-link>
			<tf-dropdown-link router-link="#">Sign Out</tf-dropdown-link>
		</tf-dropdown>

	</tf-node>
	
</tf-card>

<tf-card>
	
	<tf-node>
		<div class="w-full flex flex-row justify-end">

			<tf-dropdown display-title="Links">
				<tf-dropdown-link href-link="https://www.google.com">Google</tf-dropdown-link>
				<tf-dropdown-link href-link="https://bbc.co.uk" href-target="_blank">BBC</tf-dropdown-link>
				<tf-dropdown-link href-link="https://www.neutronvr.com" href-target="_top">NeutronVR</tf-dropdown-link>
			</tf-dropdown>

		</div>
		
	</tf-node>
	
</tf-card>

<tf-card>
	
	<tf-node>
		<div class="w-full flex flex-row justify-end">

			<tf-dropdown display-title="Actions" colour="blue">
				<tf-dropdown-link colour="blue" router-link="#">Add User</tf-dropdown-link>
				<tf-dropdown-link colour="blue" router-link="#">Add Course</tf-dropdown-link>
				<tf-dropdown-link colour="blue" router-link="#">Remove</tf-dropdown-link>
			</tf-dropdown>

		</div>
		
	</tf-node>
	
</tf-card>