
<tf-search-card>
	<tf-h3 colour="white" slot="title">
		Search for the supplier you want to view the bookings for
	</tf-h3>
	<tf-search
		name="delegateSearch" 	
		placeholder="Joe Bloggs"
	></tf-search>
</tf-search-card>

<tf-search-card search-align="center" colour="grey">
	<tf-h3 colour="blue" slot="title" text-align="center">
		Search for the supplier you want to view the bookings for
	</tf-h3>
	<tf-search
		name="delegateSearch" 	
		placeholder="Joe Bloggs"
	></tf-search>
</tf-search-card>

<tf-search-card search-align="right" colour="navy">
	<tf-h3 colour="white" slot="title" text-align="right">
		Search for the supplier you want to view the bookings for
	</tf-h3>
	<tf-search
		name="delegateSearch" 	
		placeholder="Joe Bloggs"
	></tf-search>
</tf-search-card>

<tf-search-card>

	<tf-search
		name="delegateSearch" 	
		placeholder="Joe Bloggs"
	>
		<tf-dropdown-rendered-option
			value="Afgan"
			element-title="a"
			colour="white"
			parent="a"
		>
			Afgan
		</tf-dropdown-rendered-option>
		<tf-dropdown-rendered-option
			value="Argentina"
			element-title="a"
			colour="white"
			parent="a"
		>
			Argentina
		</tf-dropdown-rendered-option>
		<tf-dropdown-rendered-option
			value="andora"
			element-title="a"
			colour="white"
			parent="a"
		>
			andora
		</tf-dropdown-rendered-option>
	</tf-search>
</tf-search-card>