
<tf-search-card>
	<tf-h3 colour="white" slot="title">
		Search for the delegate you want to edit
	</tf-h3>
	<tf-search
		name="delegateSearch" 	
		placeholder="Joe Bloggs"
	></tf-search>
</tf-search-card>

<tf-search-card search-align="center">
	<tf-h3 colour="white" slot="title" text-align="center">
		Find a course to manage bookings
	</tf-h3>
	<tf-search
		name="delegateSearch" 	
		placeholder="Course Title ..."
	></tf-search>
</tf-search-card>


<tf-search-card>

	<tf-search
		name="countrySearch" 	
		placeholder="Find a country ..."
		(tfOnInput)="onSearchInput($event)"
		(tfOnSearch)="onSearchSelected($event)"
	>
		<tf-dropdown-option *ngFor="let c of resultsList" attr.value="{{ c.name }}">
		</tf-dropdown-option>
		
	</tf-search>
</tf-search-card>


<div style="display:block; height:300px;"></div>