
<tf-card>
	<tf-card-title>Input Form Elements</tf-card-title>
	<tf-node>
	
		<div style="display:flex; flex-direction: column; flex:1; padding: 10px 30px; margin-bottom: 30px;">

			<tf-input name="email-1" label="Email" placeholder="name@example.com"></tf-input>

			<tf-input 
				name="email-2" 
				label="Email" 
				placeholder="name@example.com"
				input-hint="Enter the email address you registered with"
			></tf-input>


			<tf-input 
				name="email-3" 
				label="Email" 
				placeholder="name@example.com"
				input-hint="Enter the email address you registered with"
				input-error="That's not an email address"
				error
			></tf-input>

			<tf-input 
				name="email-4" 
				label="Email" 
				placeholder="name@example.com"
				hide-label
				icon="envelope"
				icon-position="left"
			></tf-input>

			<tf-input 
				name="search" 
				label="Search Delegate" 
				placeholder="Joe Bloggs"
				icon="search"
				icon-position="right"
			></tf-input>

		</div>
		
	</tf-node>

</tf-card> 	
