<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Input Form Elements
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
			<tf-input name="email-1" label="Email" placeholder="name@example.com"></tf-input>

			<tf-input 
				name="email-2" 
				label="Email" 
				placeholder="name@example.com"
				hint="Enter the email address you registered with"
			></tf-input>


			<tf-input 
				name="email-3" 
				label="Email" 
				placeholder="name@example.com"
				hint="Enter the email address you registered with"
				error-message="That's not an email address"
				error
			></tf-input>

			<tf-input 
				name="email-4" 
				label="Email" 
				placeholder="name@example.com"
				hide-label
				icon="envelope"
				icon-position="left"
			></tf-input>

			<tf-input 
				name="search" 
				label="Search Delegate" 
				placeholder="Joe Bloggs"
				icon="search"
				icon-position="right"
			></tf-input>
	</form>

</tf-form-page-card>
